@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F48FB1;
  --secondary: #FBF9F7;
  --primary-text: #27241C;
  --secondary-text: #847F73;
}

/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --background: #0a0a0a; */
/*     --foreground: #ededed; */
/*   } */
/* } */
/**/
body {
  color: var(--primary-text);
  background: var(--secondary);
}
